# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=saista_bakers
DB_PORT=3306

# User Service
USER_SERVICE_PORT=5001

# Order Service
ORDER_SERVICE_PORT=5002

# Frontend
REACT_APP_USER_SERVICE_URL=http://localhost:5001
REACT_APP_ORDER_SERVICE_URL=http://localhost:5002

# SMTP Configuration (for local testing with MailHog)
SMTP_SERVER=localhost
SMTP_PORT=1025
SENDER_EMAIL=asadchamp109@gmail.com 
SENDER_PASSWORD=eepb ldha ftqd ggrt
